@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #283618;
    background-color: #FEFAE0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.page, header, .top ul, ul.link.recipe, .link.recipe a, .wrapper, .image,
.content, .desc, .ingr, .steps  {
    display: flex;
}

.page {
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

footer {
    background-color: #283618;
    color: #FEFAE0;
    padding: 16px 3em;
    font-size: 12px;
    text-align: center;
}

header {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 16px 3em;
    position: fixed;
    top: 0;
    width: 100%;
    }

.top ul{
    gap: 32px;
}

.logo {
    font-weight: 900;
}

header, .top ul, .top a, .logo {
    background-color: #283618;
    color: #FEFAE0;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin: 64px 3em;
    padding-top: 64px;
}

ul.link.recipe {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 64px 3em;
}

.link.recipe a {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    background-color: #DDA15E;
    width: 200px;
    height: 200px;
    padding: 16px;
}

.wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 64px 3em;
    gap: 64px;
}
.image {
    align-self: flex-start;
    max-width: 400px;
    max-height: auto;
    flex: 0 1 auto;
}

.content {
    flex-direction: column;
    gap: 64px;
    line-height: 125%;
    text-align: justify;
}

.desc, .ingr, .steps {
    flex-direction: column;
    gap: 16px;
}

ul {
    list-style-type: none;
}

.ingr ul {
    list-style-type: circle;
    padding-left: 20px;
}

.steps ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.steps ol li, .ingr ul li {
    padding-left: 16px;
    margin-bottom: 6px;
}